<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>Hi! CircuitBoard is here to help you.</h1>
                        <h2>A self learning platform for engineering students.</h2>
                        <!-- <a class="btn-solid-lg page-scroll" href="#intro">DISCOVER</a> -->
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
